.section-1{
    width: 51.5rem;
    height: 50rem;
    margin: auto;
    border-radius: 10px;
    background-color: yellow;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(29,1fr);
}
.div-1{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color:orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-2{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-3{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color:orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-4{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-5{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color:orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 10/11;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-6{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 12/13;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-7{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 14/15;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-8{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 16/17;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-9{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 18/19;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-10{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 20/21;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-11{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 22/23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-12{
    width: 50rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    margin: auto;
    grid-column: 2/9;
    grid-row: 24/25;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-special{
    width: 8rem;
    height: 3rem;
    background-color: black;
    color: white;
    margin: auto;
    grid-column: 7/9;
    grid-row: 27/28;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-div-1 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-2{
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-3{
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-4{
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-5 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-6{
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-7 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-8 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-9 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-10 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-11 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}
.inner-div-12 {
    position: relative;
    left: -20rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}